h1 {
    color: red;
}

.first {
    color: white;
    background-color: green;
    height: 30px;
    padding: 7px 0px 0 5px;
}

.upper {
    background-color: blue;
    width: 100px;
    margin-bottom: 100px;
    color: white;
}

p span {
    color: red;
}

.new {
    height:40px;
    padding: 40px 0px 20px 40px ;
} 

ul li {
    font-size: 30px;
    border: 1px solid black;
}

.second {
    margin-left: 100px;
}